@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Island+Moments&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Instrument+Serif:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Island+Moments&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Instrument+Serif:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Island+Moments&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Instrument+Serif:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Island+Moments&family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    background-image: url(/Image/les-bienfaits-de-l-eau-de-mer-sur-la-peau-23971-1200-800\ 1\ \(1\).png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    font-family: "Inter", sans-serif;
}

/* Accueil */
.main {
    margin: 1em;
    margin-top: 2em;
}

.logo {
    float: left;
}

.logonav {
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 2em;
    align-items: center;
}

.logonav nav a {
    padding: 0.8em;
    border-radius: 2.5em;
    background: #86bd24;
    text-decoration: none;
    color: black;
    font-size: 1.1em;
    text-align: center;
}

h1 {
    font-weight: normal;
    font-size: 3.75em;
    text-align: center;
    margin-top: 2em;
}

.accueil .php {
    position: absolute;
    left: 5%;
    top: 25%;
    font-size: 5em;
    font-family: "Island Moments", sans-serif;
}

.accueil .c {
    position: absolute;
    left: 15%;
    top: 15%;
    font-size: 5em;
    font-family: "Instrument Serif", sans-serif;
}

.accueil .css {
    position: absolute;
    top: 18%;
    left: 40%;
    font-size: 5em;
    font-family: "Island Moments", sans-serif;
}

.accueil .html {
    position: absolute;
    right: 5%;
    top: 15%;
    font-size: 5em;
    font-family: "Inria Serif", sans-serif;
}

.accueil .python {
    position: absolute;
    right: 5%;
    bottom: 40%;
    font-size: 5em;
    font-family: "Istok Web", sans-serif;

}

button {
    border-radius: 1.2em;
    padding: 1em;
    font-size: 2.4em;
    position: absolute;
    right: 2%;
    bottom: 10%;
    border: none;
    background: #86bd24;
}


/* Formations */









/* Témoignages */









/* Nos Références */









/* Nous contacter */